<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body id="main">
  <div >
    <input id="insertCode"type="text" placeholder="Course Code" >
    <input id="insertNQF" type="text" placeholder="NQF Level" >
    <button id="insertButton"  type="submit" >Submit</button>
  </div>
  
  <form action="/courses">
    <input type="text" id="searchTextBox" placeholder="Course Code" name="courseCode">
    <button type="button" id="searchBtn">Search</button>
  </form>
  <div id="searchResult"></div>

    <h2> Courses </h2>

    <ul class="courses" id="courses">
      <!-- Loop through quotes -->
      <% for(var i = 0; i < courses.length; i++) {%>
        <li class="course">
          <!-- Output name from the iterated quote object -->
          <span><%= courses[i].Course_Code%></span>:
          <!-- Output quote from the iterated quote object -->
          <span><%= courses[i].NQF %></span>
        </li>
      <% } %>
    </ul>

    <div>
      <h2>Change course</h2>
      <p>
        Change a course to a 4th year course
      </p>
      <div >
        <h3>Old code </h3>
        <input id="updateOldCode" type="text" placeholder="Course Code" >
        <h3>New info</h3>
        <input id="updateNewCode" type="text" placeholder="Course Code" >
        <input id="updateNewNQF" type="text" placeholder="NQF Level" name="nqf">
        <button id="updateButton">Change Course</button>
      </div>
    </div>

    <div>
      <h2>Delete course</h2>
      <p>
        Delete a course from the courses database
      </p>
      <input id="deleteTextBox" placeholder="Course Code">
      <button id="delete-button" aria-placeholder="">Delete course</button>
    </div>

    <div id='message'></div>
    <script src="/main.js"></script>
</body>
</html>